<div class="dash">
  <mat-toolbar color="primary">
    <span> Gundam Store </span>
    <span class="spacer"></span>
    <button mat-button routerLink="/cart" routerLinkActive="active">
        <span> Cart </span>
      <mat-icon [matBadge]="numItems" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
  <div class="products">
    <mat-card class="product-card" *ngFor="let product of products">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>${{product.price}}</mat-card-subtitle>
      </mat-card-header>
      <div class="product-image-container">
        <!-- TODO: Resize product images to something more manageable -->
        <img class="product-image" mat-card-image src={{product.img}}>
      </div>
      <mat-card-content>
        <ul>
          <li> Series: {{product.series}} </li>
          <li> Grade: {{product.grade}} </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button (click)="addToCart(product)" color="accent" style="float: right;" >Add to Cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
